<!DOCTYPE html>
<html>
<head>
    <title>Salary Retail Estimator ML App</title>
    <style>
        body {
            background-color: lightblue;
            padding: 10px;
        }
        h2 {
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>Flask Salary Retail Estimator ML App</h2>
    <form method="post" action="/">
        <label for="state">Estado Mx:</label>
        <input type="text" id="state" name="state" required>
        <br>
        <label for="income">Ventas diarias estimadas:</label>
        <input type="number" id="income" name="income" min="4000" step="100" required>
        <br>
        <label for="employees">Empleados en el local:</label>
        <input type="range" id="employees" name="employees" min="4" max="8" step="1">
        <output for="employees" id="employeesLabel">4</output>
        <br>
        <button type="submit">Predecir</button>
    </form>
    {% if result %}
    <div>
        <p>El salario (sin comisiones) es {{ result }}</p>
    </div>
    {% endif %}
</body>
</html>
